*{
    margin:0;
    padding:0
}


header{
    
    max-width:1200px;
    height: 600px;
    background:gray
}
header h2{
    margin-left:50px;
    color:white;
    
}

.center{
    margin:0 auto;
}










