.link{
    position:relative;
    text-decoration: none;
    color:white;
    padding:15px 10px;
    font-size: 1.5rem;
    
}
.link::after{
    content:"";
    position: absolute;
    width:76%;
    height:0px;
    top:-10px;
    left:0;
    opacity:0.5;
    background:#e84418;
    color:white;
    padding:0 10px;
    transition:height 0.3s;
    text-decoration:underline #e84418;
}
.link:hover::after{
    height:60px
}
.link:hover{
    
    
    transition:0.5s ease-out;
}


.active{
    color:#e84418;
}

.hamIcon{
    
    position:relative;
    background:#e84418;
    width:29px;
    transition:background 0.3s, border-radius 0.3s;
    padding:5px;
    z-index:2;
}
.hamIcon h1{
    
    width:30px;
    height:3px;
    background:black;
    padding:0;
    margin:0;
    margin:5px 0;
    animation-duration:0.3s;
    animation-fill-mode:forwards;
    
}
nav{
    /* display:flex; */
    
}

@media(min-width: 769px){
    .mainMenu{
      background:none; 
      display:flex;
      position:static;
    }
  }
  
  
  @keyframes hamAnim1{
    from{transform:rotate(0deg);
         
    }
    to{transform: rotate(45deg) translate(5px,5px);
      background:#e84418;
    }
  }
  @keyframes hamAnim2{
    from{transform:rotate(0deg);
         
    }
    to{transform: rotate(-45deg) translate(5px,-7px);
      background:#e84418
    }
  }
  @keyframes hamAnim3{
    from{transform:rotate(0deg);
         
    }
    to{transform: rotate(-45deg) translate(0px,-1px);
      background:#e84418;
      opacity:0
    }
  }
  @keyframes hamAnim32{
    from{transform: rotate(-45deg) translate(0px,-1px);
      background:black;
      opacity:0
    }
    to{transform:rotate(0deg);
      opacity:1   
    }
    
  }
  @keyframes hamAnim22{
    from{transform: rotate(-45deg) translate(5px,-7px);
      background:black
    }
    to{transform:rotate(0deg);
         
    }
    
  }
  @keyframes hamAnim12{
    from{transform: rotate(45deg) translate(5px,5px);
      background:black;
    }
    to{transform:rotate(0deg);
         
    }
    
  }


@media (max-width:500px){
    .mainMenu{
        display:flex;
        flex-direction:column;
        position:absolute;
        /* transform:translateX(-500px); */
        z-index:1;
        transition:left 0.5s cubic-bezier(1, 0, 0, 1);
        background:rgba(0,0,0,0.5);
        width:200px;
        height:100vh;
        box-sizing:border-box;
        align-items:center;
        justify-content:flex-start;
        padding-top:40px;
        
        top:60px;
    }
    .link:hover::after{
        
        height: 0px;
        
        
        
    }
}
@media (min-width:501px){
    .hamIcon{
        display:none;
        
    }
}