.link{
    text-decoration: none;
    color:white;
    padding-left:20px;
    font-size: 1.5rem;
}
.link:hover{
    
    color:#e84418;
    transition:0.5s ease-out;
}


.active{
    
    color:#e84418;
}